<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://markjivko.com/dist/recorder.js"></script>
    
    </head>
    <body>
    
    <div id="controls">
        <button id="recordButton">Record</button>
    </div>

        <div id="result">

        </div>
    <script src="../static/js/audiorecorder.js"></script>

    </body>
</html>


